.retailer-analytics {
  padding: 20px;
  margin-top: 120px;
}

.analytics-summary {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background-color: #f1ffe7;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.analytics-table table {
  width: 100%;
  border-collapse: collapse;
}

.analytics-table th, .analytics-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

